body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
}

button {
    background-color: #ff0000;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    cursor: pointer;
}

h1 {
    font-size: 44px;
    color:#ff0000;
}

h2 {
    font-size: 36px;
    color:black;
}

.no_display {
    display: none;
}

footer{
    display: flex;
    justify-content: right;
    padding: 10px;
    background-color: #ff0000;bottom: 0;left:0;right:0;position:absolute;height:50px;
    color: white;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    background-color: #ff0000;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 80px;
    color: white;
}

.nav_links {
	list-style: none;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.nav_links li {
	padding: 0;
	color: white;
}

.nav_links li.nav_right {
	margin-left: auto;
}

.nav_links li:nth-child(1) {
	padding: 0 20px 0 0;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.user-menu {
	position: relative;
	cursor: pointer;
}

.profile-dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	gap: 5px;
    color: black;
    font-size: 10px;
}

section {
    align-items: center;
}